@import "bootstrap/scss/bootstrap.scss";

$primary: #e3387e;
$secondary: #fd5f43;
$color-text-default: #fff;
$color-text-muted: #7d838f;
$body-bg: #181e26;
$body-color: #111;
$color-border: #505562;
$spacer: 0.5rem;

$color-paper-background: #1f2531;

$color-item-bg: #181e26;
$color-item-bg-alt: #212731;
$color-item-bg-active: #3e4556;

$border-radius: 6px;

$font-size: 16px;

.form-control {
	background-color: $body-bg;
	:focus {
		background-color: $body-bg;
	}
}
