$color-primary: #e3387e;
$color-secondary: #fd5f43;
$color-text-default: #fff;
$color-background: #14181e;
$color-border: #505562;

$color-paper-background: #1f2531;

$color-item-bg: #181e26;
$color-item-bg-alt: #212731;
$color-item-bg-active: #3e4556;

$border-radius: 6px;

$spacing: 0.5rem;
$font-size: 16px;
