.root {
	border-collapse: collapse;
	width: 100%;

	& td,
	& th {
		padding: $spacer;
		padding-left: $spacer * 5;
	}

	th {
		background-color: $body-bg;
		text-align: start;
		color: $color-text-muted;
	}

	tr {
		background-color: $color-item-bg;
		transition: all 200ms linear;
		&:nth-child(odd) {
			background-color: $color-item-bg-alt;
		}
		&:hover {
			background-color: $color-item-bg-active;
		}
	}
}
