.root {
	display: flex;
	flex-direction: column;
}

.chatHistoryContainer {
	padding: $spacer;
	overflow: auto;
	flex-grow: 1;
}

.chatHistoryMessage {
	background-color: $color-item-bg-active;
	display: inline-flex;
	padding: $spacer * 0.4;
	font-size: $font-size * 0.8;
	align-items: center;
	border-radius: $border-radius;
	margin-left: $spacer;
}

.chatHistoryItem {
	display: flex;
	&:not(:last-child) {
		margin-bottom: $spacer * 2;
	}
}

.messageBox {
	background-color: $color-paper-background;
	padding: $spacer * 2;
	display: flex;
}

.textInput {
	color: $color-text-default;
	background-color: $color-item-bg;
	border-radius: $border-radius;
	border: none;
	margin-right: $spacer * 2;
	flex-grow: 1;
}

.submitButton {
	min-width: 100px;
}
