.header {
	display: flex;
}

.numberInputs {
	label {
		display: block;
		text-align: center;
		color: $color-text-muted;
		font-size: 0.8rem;
		margin-bottom: $spacer;
	}
}

.infoCard {
	display: flex;
	align-items: center;
	flex-grow: 1;
	height: 100%;
	font-size: 1.5rem;
	padding: 0 $spacer * 2;

	.icon {
		font-size: 2rem;
	}
	.text {
		text-align: center;
		flex-grow: 1;
	}
}
